
@import url('https://fonts.googleapis.com/css2?family= Old+Standard+TT:wght@700 & display =swap');



    *{
        
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        
    }

    header{
        background-image: url(violeta.png);
        text-align: center;
        width: 100%;
        padding: auto;
    }


    body {
        background-color:azure ;
        color: black;
        font-family: 'Old Standard TT', serif;
        
    }


    .encabezado-img{
        background-image: url('violeta.png');
        
        height: 500px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .encabezado-img h1{
        font-size: 50px;

    }

    .container{
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }




    h2 {
        font-size: 1.4em;
        color: blueviolet;
        
    }



    .bloco1{
        width: 960px;
        margin: auto;
        
    }

    .conteudo1{
        display: table;
    }

    .imagem1{
        display: table-cell;
        float: left;
    }

    .texto1{
        display: table-cell;
        float: left;
        width: 300px;
        margin-top: 50px;
        margin-left: 40px;

    }


    .bloco2{
        width: 960px;
        margin: auto;
        
    }

    .conteudo2{
        display: table;
    }

    .imagem2{
        display: table-cell;
        float: right;
    }

    .texto2{
        display: table-cell;
        float: right;
        width: 300px;
        margin-top: 50px;
        margin-right: 40px;

    }


    

    button{
       
        background-color: #d9a65e;
        border-bottom: black;
        min-width: 20%;

    }

    

    .box {
        width: 800px;
        height: 120px;
        background-color: #d9a65e;
        border: 2px solid #d9a65e;
        border-radius: 10px;
        padding: 40px;
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    

    footer{
        background-color: rgba(110, 23, 138, 0.749);
        width:auto ;
        height: 60px;
        text-align:center;
        margin-left: 0px;
    }
