
@import url('https://fonts.googleapis.com/css2?family= Old+Standard+TT:wght@700 & display =swap');



    *{        
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
              
             
    }

    
        


    header{
        display: flex;
        
        width: 100%;
        align-items: center;
        justify-content:space-between ;
        padding: 2rem;
                     
        
    }
    

    .nav-list{
        list-style-type: none;
        display: flex;
        gap: 1rem;
    
    }

    .nav-list li a{
        text-decoration: none;
        color: black;
    }

    .abrir-menu{
        display: none;
    }
    .cerrar-menu{
        display: none;
    }

    @media screen and (max-width: 300px) {
        .abrir-menu,
        .cerrar-menu{
        display: block;
        }

      

        .nav{
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;            
            align-items: end;
            gap:1rem;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(138, 90, 182);
            padding: 2rem;
            box-shadow:  0 0 0 100vmax rgba(110, 23, 138, 0.749) ;
            

        }

        .nav.visible{
            opacity: 1;
            visibility: visible;
        }

        .nav-list{
            flex-direction: column;  
            align-items: end;  
        }

        .nav-list li a {
            color: aliceblue;
            }
    }

    body {
        display: grid;
        background-color:azure ;
        color: black;
        font-family: 'Old Standard TT', serif;
        
        
    }


        
   

    .container{
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }




    h2 {
        font-size: 1.4em;
        color: blueviolet;
        
    }



    .bloco1{
        width: 960px;
        margin: auto;
        
    }

    .conteudo1{
        display: table;
    }

    .imagem1{
        display: table-cell;
        float: left;
    }

    .texto1{
        display: table-cell;
        float: left;
        width: 300px;
        margin-top: 50px;
        margin-left: 40px;

    }


    .bloco2{
        width: 960px;
        margin: auto;
        
    }

    .conteudo2{
        display: table;
    }

    .imagem2{
        display: table-cell;
        float: right;
    }

    .texto2{
        display: table-cell;
        float: right;
        width: 300px;
        margin-top: 50px;
        margin-right: 40px;

    }



    

    .box{
        width: 800px;
        height: 120px;
        background-color: #d9a65e;
        border: 2px solid #d9a65e;
        border-radius: 10px;
        padding: 40px;
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }


    .submit{
       
        background-color: #d9a65e;
        border-bottom: black;
        min-width: 20%;

    }
    

    footer{
        background-color: rgba(110, 23, 138, 0.749);
        width:auto ;
        height: 60px;
        text-align:center;
        margin-left: 0px;
    }
